.donatBlock {
  background-color: #fff;
  font-family: cursive;
  height: 1000px;
  padding: 10px;
}
.donatContent {
  width: 1100px;
  margin: auto;
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
}

.titleAndSubtitle {
  text-align: center;
}
.titleAndSubtitle .mainTitle {
  font-size: 35px;
  color: rgb(91, 184, 238);
  font-weight: 600;
}
.titleAndSubtitle .mainSubtitle {
  margin: auto;
  font-size: 16px;
  padding-top: 10px;
}

.imageCircle {
  border: 1px solid rgb(174, 174, 174);
  border-radius: 50%;
  padding: 50px;
  position: relative;
}
.imageCircle img {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  object-fit: cover;
}
.leftCheckPoint {
  margin-top: 100px;
  padding-right: 15px;
}
.titleLeft {
  font-size: 20px;
  font-weight: 600;
  text-align: right;
}
.subtitleLeft {
  text-align: right;
  font-size: 13px;
}
.rightCheckPoint {
  margin-top: 100px;
  padding-left: 15px;
}
.titleRight {
  font-size: 20px;
  font-weight: 600;
  text-align: left;
}
.subtitleRight {
  text-align: left;
  font-size: 13px;
}
.btn {
  background-color: rgb(26, 125, 182);
  border-radius: 0.5em;
  border-style: none;
  padding: 10px;
  width: 300px;
  color: #fff;
  font-size: 20px;
  z-index: 2;
  position: absolute;
  top: 470px;
  left: 100px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.centerDonatContent {
  width: 500px;
}
.leftDonatContent,
.rightDonatContent {
  width: 300px;
}
/* CHECKPOINTS */
.checkpointOne {
  color: rgb(26, 125, 182);
  font-size: 25px;
  position: absolute;
  z-index: 3;
  left: 25px;
  top: 100px;
}
.checkpointTwo {
  color: rgb(26, 125, 182);
  font-size: 25px;
  position: absolute;
  z-index: 3;
  left: -10px;
  top: 270px;
}
.checkpointThree {
  color: rgb(26, 125, 182);
  font-size: 25px;
  position: absolute;
  z-index: 3;
  right: -10px;
  top: 270px;
}
.checkpointFour {
  color: rgb(26, 125, 182);
  font-size: 25px;
  position: absolute;
  z-index: 3;
  right: 25px;
  top: 100px;
}
