.searchPetsPosition {
  width: 100%;
}
.searchPetsHeader {
  width: 84%;
  margin: auto;
  padding-bottom: 30px;
}
.searchPetsInput {
  font-size: 22px;
  border-radius: 18px;
  border: 1px solid #383838;
  width: 35%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.searchPetsInput input {
  border-style: none;
  border: none;
  outline: none;
  border-radius: 18px;
  text-align: left;
  color: #383838;
  padding: 10px 20px;
  width: 100%;
}
