.carouselFundraisersTitle {
    text-align: center;
    font-size: 45px;
    font-family: "Neucha", cursive;
    padding: 20px 0;
}
.carouselFundraisersPosition {
    width: 100%;
    margin: auto;

}
.carouselFundraisersSize {
    width: 74%;
    margin: auto;
}