.catalogPetsPosition {
  width: 100%;
  padding: 70px 70px 30px 70px;

}
.catalogPetsContent {
  width: 90%;
  margin: auto;
}
.catalogPetsTitle {
  font-size: 40px;
  font-family: "Neucha", cursive;
  padding: 5px;
  color: #515151;
  line-height: 1.2;
}
.catalogPetsIcons {
  width: 60%;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.catalogPetsIcons button {
  border-style: none;
  background-color: #fff;
}
.catalogPetsIcons img {
  width: 70%;
}
.wrapper {
  width: 100px;
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  transform: scale(.5);
}
.photoWrapper {
  width: 50px;
  height: 50px;
}
.photoWrapper img {
  margin: 0;
  width: 100%;
}
