.searchPetsPosition {
  width: 100%;
}
.searchPetsHeader {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
}
.searchPetsInput {
  font-size: 22px;
  border-radius: 10px;
  border: 1px solid #383838;
  display: flex;
  width: 28%;
}
.searchPetsInput input {
  border-style: none;
  border: none;
  outline: none;
  border-radius: 10px;
  text-align: left;
  color: #383838;
  padding: 10px 20px;
  width: 100%;
  font-family: "Neucha", cursive;
}
.searchPetsIcon {
  font-size: 30px;
  margin-top: 10px;
  width: 25px;
  height: 25px;
}
.searchPetsChange {
  border-radius: 10px;
  text-align: left;
  color: #383838;
  padding: 10px;
  font-size: 22px;
  border-radius: 10px;
  width: 30%;
  border: 1px solid #383838;
}
.searchPetsBody {
  padding: 25px;
}
