.cardPetsRender {
  flex-wrap: wrap;
  width: 90%;
  margin: auto;
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30%;
  background-color: #fff;
  border-radius: 10px;
  transition: all 300ms;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.card:hover {
  opacity: 1;
  transform: scale(1.03);
}

.headPetsCard {
  display: flex;
  width: 90%;
  margin: auto;
  padding: 15px 10px;
  justify-content: space-between;
}

.agePets span {
  border: 1px solid rgb(201, 201, 201);
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 12px;
  margin-right: 5px;
}

.agePets {
  width: 10%;
  height: 10%;
}

.iconPets {
  font-size: 23px;
  display: flex;
}

.iconOne {
  color: rgb(18, 232, 18);
}

.imgPetsCard {
  width: 100%;
  margin: auto;
}

.imgPetsCard img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.titlePetsCard {
  font-size: 16px;
  width: 80%;
  margin: auto;
  font-weight: 700;
}

.descriptionPetsCard {
  font-size: 14px;
  padding-top: 5px;
  width: 80%;
  margin: auto;
}

.footerPetsCard {
  display: flex;
  width: 80%;
  padding: 10px 0;
  margin: auto;
  justify-content: space-between;
}

.namePetsCard {
  font-size: 20px;
  color: green;
  font-weight: bolder;
}

.iconThree {
  font-size: 30px;
  color: red;
}

/* .dowloadMoreBtn {
  background-color: rgb(247, 247, 106);
  padding: 10px 25px;
  border: none;
  outline: none;
  border-style: none;
  font-size: 22px;
  border-radius: 8px;
  margin: auto;
  width: 20%;
} */

.sectorСlear {
  text-align: center;
  font-family: cursive;
  padding-bottom: 180px;
  color: rgb(61, 61, 61);
}
.sectorСlear img {
  object-fit: cover;
  height: 300px;
}