header {
  width: 100%;
  position: absolute;
  z-index: 50;
}

.contentHead {
  width: 90%;
  margin: auto;
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.logo span{
  font-size: 24px;
  font-weight: bolder;
  padding: 5px;
  
}
.logoLink {
  text-decoration: none;
  outline: none;
  color: black;
}
.logoLink:hover {
  color: black;
}


.logo img {
  width: 36px;
  margin-top: -10px;
}

.navigate {
  display: flex;
  justify-content: space-between;
  width: 85%;
}

.listHead,
.listHeadSingIn {
  font-size: 18px;
  font-family: "Neucha", cursive;
  list-style: none;
  text-decoration: none;
  outline: none;
  color: black;
  padding: 10px;
  text-align: center;
}

.listHeadSingIn {
  background-color: #ffd97e;
  border-radius: 25px;
  padding: 10px 30px;
  vertical-align: middle;
  text-align: center;
}

.listHead:hover {
  color: black;
}
