header {
  width: 1330px;
  margin: auto;
  position: absolute;
  z-index: 50;
}

.contentHead {
  width: 90%;
  margin: auto;
  display: flex;
  padding: 15px;
  justify-content: space-between;
}

.logo span {
  font-size: 24px;
  font-weight: bolder;
  padding: 5px;
}
.logoLink {
  text-decoration: none;
  outline: none;
  color: black;
}
.logoLink:hover {
  color: black;
}

.logo img {
  width: 36px;
  margin-top: -10px;
}

.navigate {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center;
}

.listHead,
.listHeadSingIn {
  font-size: 18px;
  font-family: "Neucha", cursive;
  list-style: none;
  text-decoration: none;
  outline: none;
  color: black;
  padding: 10px;
  text-align: center;
  border: none;
}

.listHeadSingIn {
  background-color: #ffd97e;
  border-radius: 25px;
  padding: 10px 30px;
  vertical-align: middle;
  text-align: center;
}

.listHead:hover {
  color: black;
}

/* AUTHORIZATION */
.modalHeader {
  position: relative;
}
.authorization {
  display: flex;
  position: absolute;
  bottom: -25px;
  margin-left: 15px;
}
.sing {
  font-size: 15px;
  height: 50px;
  padding: 20px 10px;
  text-align: center;
  vertical-align: middle;
  font-family: cursive;
}
.sing:hover {
  border-bottom: 3px solid red;
}
.registration {
  font-size: 50px;
  font-weight: 500;
  text-align: center;
  font-family: cursive;
  color: rgb(81, 81, 81);
  margin-bottom: 20px;
}
.changeClientAndShelter {
  display: flex;
  justify-content: space-around;
  width: 500px;
  margin: auto;

  border: 1px solid #4f4f4f;
  border-radius: 8px;
}
.changeOne,
.changeTwo {
  padding: 15px;
  font-size: 23px;
  width: 250px;
  text-align: center;
}
.changeOne:hover {
  background-color: #ffd97e;
  border-radius: 8px;
  transition: 0.5s;
}
.change span {
  font-size: 28px;
  margin: 10px;
}

.entryFieldInputName {
  margin-top: 30px;
  justify-content: space-around;
  margin-left: 30px;
  width: 238px;
  height: 50px;
  padding: 20px;
  font-size: 20px;

  border: 1px solid #4f4f4f;
  border-radius: 8px;
}

.entryFieldInputPhone {
  justify-content: space-around;
  margin: 30px;
  width: 238px;
  height: 50px;
  padding: 20px;
  font-size: 20px;

  border: 1px solid #4f4f4f;
  border-radius: 8px;
}

.entryFieldInputPassword {
  padding: 20px;
  justify-content: space-around;
  margin-left: 30px;
  width: 238px;
  height: 50px;
  font-size: 20px;

  border: 1px solid #4f4f4f;
  border-radius: 8px;
}

.entryFieldInfo {
  margin-left: 100px;
}

.entryButtonAuthoriz {
  background-color: #042dff;
  color: white;
  width: 238px;
  text-align: center;
  height: 50px;
  font-size: 20px;

  border: 1px solid #4f4f4f;
  border-radius: 8px;
}
/* xvvcvc */
/* From uiverse.io by @alexmaracinaru */
.card {
  width: 90%;
  margin: auto;
  border: 1px solid white;
}

.card_header {
  display: flex;
  align-items: center;
}

.card svg {
  color: #7878bd;
  margin-bottom: 20px;
  margin-right: 5px;
}

.form_heading {
  padding-bottom: 13.5px;
  font-size: 21px;
  color: #7878bd;
  font-family: cursive;
}

.field {
  padding-bottom: 10px;
}

.warning {
	padding-bottom: 10px;
}

.warning label {
  font-size: 14px;
  display: block;
  padding-bottom: 4px;
  color: red;
}

.input {
  border-radius: 5px;
  background-color: #e9e9f7;
  padding: 5px;
  width: 100%;
  color: #7a7ab3;
  border: 1px solid #dadaf7;
}

.input:focus-visible {
  outline: 1px solid #aeaed6;
}

.input::placeholder {
  color: #bcbcdf;
}

label {
  color: #b2bac8;
  font-size: 14px;
  display: block;
  padding-bottom: 4px;
}

.field button {
  background-color: #7878bd;
  margin-top: 15px;
  outline: none;
  text-align: center;
  border-style: none;
  font-size: 15px;
  padding: 10px 30px;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  transform: translateX(98px);
}

.field button:hover {
  background-color: #5f5f9c;
}

.buttonPosition {
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.avatar {
  width: 20%;
  height: 272px;
  display: flex;
  align-items: center;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.534);
  border-radius: 10px;
}

.avatar .previewImg {
 width: 20%;
}

.avatar img {
	object-fit: contain;
	width: 260px;
  height: 400px;
}

.description {
  display: flex;
  justify-content: center;
  transform: translateX(112px);
}

.description textarea {
  width: 71.8%;
  height: 150px;
  resize: none;
  background-color: #e9e9f7;
  border: 0.1px solid #aeaed6;
  border-radius: 3px;
  padding: 10px;
  color: #7a7ab3;
}

.description textarea::placeholder {
  color: #bfbfe1;
}

.description textarea:focus {
  outline: 0.5px solid #aeaed6;
}

.form_inputs {
  min-width: 34%;
}
