.mapCardPosition {
  background-color: #9dd1e2;
  color: #515151;

}

.titleMapCard {
  font-family: "Neucha", cursive;
  font-size: 50px;
  text-align: center;
  padding: 15px;
}

.mapCardBackground {
  background: url("../../assets/flat-lay-toys-with-food-bowl-fur-brush-doogs\ \(1\).png") 0 0/100% auto no-repeat;
  width: 100%;
}

.mapCardFlex {
  display: flex;
  width: 90%;
  justify-content: space-evenly;
  margin: auto;
}

.mapCardMap {
  width: 55%;
}

.mapCardContent {
  width: 27%;
  padding: 34px;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

.mapCardContainer {
  border-radius: 0.8em;
  background-color: #30343fe3;
  padding: 25px;
  color: white;
  text-align: center;
}

.titleNameMapCard {
  font-weight: 700;
  font-size: 19px;
  font-family: cursive;
  margin-top: 40px;
  margin-bottom: 20px;
}

.discriptionButtonMapCard {
  font-size: 13px;
  font-family: cursive;
  margin-bottom: 40px;
}

.linkButtonMapCard button {
  background-color: #0081fc;
  border-radius: 0.5em;
  border-style: none;
  padding: 10px;
  color: #fff;
  font-size: 13px;
  font-family: cursive;
  margin-bottom: 10px;
}

.iconsMapCardOne,
.iconsMapCardTwo,
.iconsMapCardThree,
.iconsMapCardFour {
  position: absolute;
  color: rgba(255, 255, 255, 0.719);
  transform: rotate(30deg);
  z-index: 2;
  font-size: 30px;
}

.iconsMapCardOne {
  font-size: 40px;
  right: 14%;
  top: 12%;
}
.iconsMapCardTwo {
  font-size: 39px;
  left: 14%;
  top: 10%;
  transform: rotate(-30deg);
}

.iconsMapCardThree {
  left: 15%;
  top: 60%;
  transform: rotate(-30deg);
}

.iconsMapCardFour {
  right: 15%;
  top: 60%;
}
