.headerDrop .dropdown {
  background-color: transparent !important;
  border: none;
  list-style: none;
  text-decoration: none;
  outline: none;
  color: black;
  text-align: center;
  font-family: "Neucha", cursive;
  font-size: 18px;
  padding: 5px;
}

.petsDrop .dropdown {
  background-color: transparent !important;
  border: none;
  list-style: none;
  text-decoration: none;
  outline: none;
  color: black;
  text-align: center;
  padding: 5px;
}

.dropdown-toggle::after {
  vertical-align: 0.1em;
}

.btn-primary.dropdown-toggle {
  color: black !important;
}

.btn-primary:hover {
  color: black !important;
}

.dropdown-toggle:focus {
  box-shadow: none !important;
}

.dropItem {
  color: black;
  text-decoration: none;
}

.dropdown-item:active {
  background-color: transparent;
}

.dropdown-toggle:hover .dropdown-menu {
  display: block;
}
