.headerDrop .dropdown {
  background-color: transparent !important;
  border: none;
  list-style: none;
  text-decoration: none;
  outline: none;
  color: black;
  text-align: center;
  font-family: "Neucha", cursive;
  font-size: 18px;
  padding: 5px;
}

.petsDrop .dropdown {
  background-color: transparent !important;
  border: none;
  list-style: none;
  text-decoration: none;
  outline: none;
  color: black;
  text-align: center;
  padding: 5px;
}

.dropdown-toggle::after {
  vertical-align: 0.1em;
}

.btn-primary.dropdown-toggle {
  color: black !important;
}

.btn-primary:hover {
  color: black !important;
}

.dropdown-toggle:focus {
  box-shadow: none !important;
}

.dropItem {
  color: black;
  text-decoration: none;
}

.dropdown-item:active {
  background-color: transparent;
}

.dropdown-toggle:hover .dropdown-menu {
  display: block;
}


.dropdown-user::after {
  content: none !important;
}

.account {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: #ffd97e;
  padding: 5px 10px;
  border-radius: 25px;
}

.avatar-wrapper img {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.btn-primary {
	background-color: rgba(250, 235, 215, 0) !important;
	border-color: #ffd87e00 !important;
}

.btn-primary:hover {
	background-color: rgba(250, 235, 215, 0) !important;
	border-color: #ffd87e00 !important;
}

.shelterDrop .dropdown-toggle::after {
  content: none!important;
}
