.newsPosition {
  width: 100%;
  padding: 80px 0;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  /* background-color: #9dd1e2; */
}
.newsRenderCard {
  width: 70%;
  margin: 0 auto 40px auto;
  padding: 0.8em;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 25px;
  display: flex;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
}
.newsRenderCardImage {
  width: 70%;
}
.newsRenderCardImage img {
  width: 100%;
  height: 300px;
  border-radius: 25px 0 0 25px;
  object-fit: cover;
}
.newsRenderCardTitleAndDescription {
  width: 100%;
}
.newsRenderCardDescription {
  font-size: 15px;
  font-weight: 600;
  color: rgb(105, 105, 105);
  text-align: justify;
  width: 91%;
  margin: auto;
  height: 180px;
}
.newsRenderCardDateAndButton {
  display: flex;
  justify-content: space-between;
  width: 91%;
  margin: 0 auto 0 auto;
  font-family: cursive;
}
.newsRenderCardDescription:hover {
  cursor: pointer;
}

.newsRenderCardTitle {
  font-weight: 600;
  padding: 10px;
  text-align: left;
  width: 95%;
  margin: auto;
  font-size: 20px;
  font-family: cursive;
  height: 90px;
}

.newsRenderCardTitle:hover {
  cursor: pointer;
}
.newsRenderCard button {
  border-style: none;
  outline: none;
  float: right;
  background-color: #fff;
  padding: 5px 15px;
  border: 1px solid rgb(196, 196, 196);
  border-radius: 8px;
  font-size: 15px;
  font-weight: 600;
  transition: 0.3s;
}
.newsRenderCard button:hover {
  background-color: rgb(232, 232, 232);
}
/*  MODAL NEWS */
.modalNewsPosition {
  width: 100%;
  margin: auto;
  padding: 10px;
}
.modalNewsFlex {
  display: flex;
  justify-content: space-between;
}
.modalNewsImage {
  width: 40%;
}
.modalNewsImage img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 12px;
}
.modalNewsTitleAndDescription {
  width: 60%;
  padding: 0 20px;
}
.modalNewsTitle {
  text-align: left;
  font-size: 30px;
  font-weight: 700;
}
.modalNewsDescription {
  font-size: 20px;
  text-align: justify;
  margin-top: 30px;
}
